{% assign author = site.data.sidebar.author %}

<div itemscope itemtype="https://schema.org/Person" class="h-card">

  {% if author.avatar %}{% include sidebar/author-profile/avatar.html %}{% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}{% include sidebar/author-profile/bio.html %}{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.links %}{% include sidebar/author-profile/links.html %}{% endif %}
      {% include sidebar/author-profile/custom-links.html %}
    </ul>
  </div>
</div>