{% capture list_items %}
    {% if site.data.sidebar.categories %}
        {% for category_data in site.data.sidebar.categories %}
            {% assign taxonomy = category_data.taxonomy %}
            {% assign label = category_data.title %}
            {% assign url = category_data.url %}
            {% assign children = category_data.children %}

            {% include sidebar/categories/item/primary.html taxonomy=taxonomy label=label url=url %}

            {% if children %}
                <ul style="padding: 0 8px;">
                    {% for subcategory_data in children %}
                        {% assign taxonomy = subcategory_data.taxonomy %}
                        {% assign label = subcategory_data.title %}
                        {% assign url = subcategory_data.url %}

                        {% include sidebar/categories/item/secondary.html taxonomy=taxonomy label=label url=url %}
                    {% endfor %}
                </ul>
            {% endif %}

            {% unless forloop.last %}<hr/>{% endunless %}
        {% endfor %}
    {% else %}
        <li>No Category</li>
    {% endif %}
{% endcapture %}

{% include sidebar/categories/common/list-wrapper.html content=list_items %}